:root{
  --primary: rgb(23, 25, 29);
  --secondary: rgb(241, 236, 236);
  --details: rgb(245, 208, 1);
  --title-font: 'Alexandria', sans-serif;
}

/* Home */

.home-container{
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

.home-slider{
  width: 100%;
  height: 270px;
}

.logo-container-visible{
  opacity: 1;
  transition: 150ms ease-in-out;
}

.logo-container-invisible{
  opacity: 0;
  transition: 150ms ease-in-out;
}

.navbar-bg-close{
  background-color: rgba(23, 25, 29, 0.5);
  transition: 150ms ease-in-out;
}

.navbar-bg-open{
  background-color: var(--details);
  transition: 150ms ease-in-out;
}

.navbar{
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  position: relative;
}

#menu{
  display: none;
}

.icon-1 {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 30px;
  height: 40px;
  clip-path: polygon(0 50%, 100% 50%, 100% 52%, 0 52%);
  background-color: var(--details);
  transition: 150ms ease-in-out;
  transform: translateX(-50%);
}

.icon-2 {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 30px;
  height: 40px;
  clip-path: polygon(0 50%, 100% 50%, 100% 52%, 0 52%);
  background-color: var(--details);
  transition: 150ms ease-in-out;
  transform: translateX(-50%);
}

#menu:checked + .menu .icon-1{
  top: 3px;
  left: 12px;
  background-color: var(--primary);
  transform: rotate(-40deg);
}

#menu:checked + .menu .icon-2{
  top: 3px;
  left: 12px;
  background-color: var(--primary);
  transform: rotate(40deg);
}

.menu-list{
  width: 100%;
  height: 0;
  background-color: var(--details);
  position: absolute;
  top: 69px;
  left: 0;
  transition: 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.list-container{
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary);
  font-family: var(--title-font);
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.list-container-invisible{
  display: none;
  transition: 150ms ease-in-out;
}

.list-container-visible{
  transition: 150ms ease-in-out;
}


#menu:checked ~ .menu-list{
  height: calc(100vh - 70px);
}

.home-slider p{
  position: absolute;
  color: var(--details);
  font-size: 1.1rem;
  top: 10px;
  left: 105px;
}

.isotipo{
  height: 60px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.home-slider-img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-message{
  width: 100%;
  height: 150px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.home-options-container{
  width: 100%;
  height: calc(100% - 422px);
  display: flex;
  flex-direction: column;
}

.option-container{
  width: 100%;
  height: 163px;
  border-bottom: 1px solid var(--secondary);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-container p{
  color: var(--secondary);
  letter-spacing: 4px;
  font-size: 1.5rem;
}


